<title>Enhanced Encryption Mark77</title>
    <h1>Hello, User! </h1>  
    
    In the first form, enter a list of integers seperated by a newline that is going to be used for ciphering <br> <br>
    In the second form, enter a text that includes only alphabetic characters <br> <br>
    In the third form, enter the letter you want to inject into the text (If you enter a text longer than 1 letter, program will take the first letter not others) <br> <br>
    In the fourth form, enter a list of integers seperated by a newline that is going to be used for injecting letter <br> <br>

    <h3>Result: {{{result}}}</h3>

    <form action="calculation" method="post">
        <textarea name="input1" rows="10" cols="30" placeholder="First Form"></textarea>
        <textarea name="input2" rows="10" cols="30" placeholder="Second Form"></textarea>
        <br> <br>
        <textarea name="input3" rows="10" cols="30" placeholder="Third Form"></textarea>
        <textarea name="input4" rows="10" cols="30" placeholder="Fourth Form"></textarea>
        <br> <br>
        <input type="submit">
    </form>
